<div class="row">
    <div class="col-12 body">
        <button class="btn btn-success" routerLink="/Observable">Observable</button>
        <button class="btn btn-success" routerLink="/add">Addition</button>
        <button class="btn btn-success" routerLink="/sub">Substraction</button>
        <button class="btn btn-success" routerLink="/square">Squre Numbers</button>
        <button class="btn btn-success" routerLink="/divison">Division</button>
        <button class="btn btn-success" routerLink="/evennum">Event Number</button>
        <button class="btn btn-success" routerLink="/oddnum">Odd Number</button>
        <button class="btn btn-success" routerLink="/home">Json Values</button>
    </div>
</div>
